*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #ffffff;
    --black: #000000;
    --jasmine: #fbd784;
    --bg: #0b1d26;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container {
    padding: 0 15px;
    margin: auto;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
@media (min-width: 1400px) {
    .container {
    max-width: 1320px;
    }
}
header{
    position: fixed;
    width: 100%;
    padding: 40px 0;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .logo a{
    display: inline-block;
    font-size: 20px;
    color: var(--white);
}
@media (max-width:991px) {
    header .container nav{
        position: relative;
    }
    header .container nav ul{
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
        padding: 15px;
        text-align: center;
        border-radius: 10px;
        background-color: var(--black);
    }
    header .container nav ul li a{
        display: block;
        margin: 15px;
        color: var(--white);
    }
    header .container nav input:checked~ul{
        display: block;
    }
    header .container nav input{
        visibility: hidden;
    }
}
@media (min-width:992px) {
    header .container nav label,
    header .container nav input{
        display: none;
    }
    header .container nav ul{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    header .container nav ul li a{
        color: var(--white);
    }
}
section .sub-title{
    position: relative;
    padding-left: 50px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--jasmine);
}
section .sub-title::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: var(--jasmine);
}
.hero{
    padding: 40px 0;
    background: url(../images/hero.webp) no-repeat;
    background-size: 100% 100%;
}
.hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.hero .container article{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
}
@media (min-width:992px) {
    .hero .container article{
        width: 50%;
    }
}

.hero .container article h1{
    font-size: 50px;
    color: var(--white);
}
.hero .container article a{
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
}
.article{
    padding: 40px 0;
    box-shadow: 0 0 100px 100px var(--bg);
}
.article .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}
.article-2 .container {
    flex-direction: row-reverse;
}
@media (min-width:1200px) {
    .article .container article,
    .article .container .image{
        width: 40%;
    }
}
.article .container article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
    padding:0 15px ;
}
.article .container article h2{
    position: relative;
    font-size: 30px;
}
.article .container article h2::before{
    position: absolute;
    top: -120px;
    left: -30px;
    font-size: 150px;
    color: rgb(255,255,255,.2);
}
.article-1 .container article h2::before{
    content: "01";
}
.article-2 .container article h2::before{
    content: "02";
}
.article-3 .container article h2::before{
    content: "03";
}
.article .container article p{
    font-size: 18px;
    line-height: 150%;
}
.article .container article a{
    display: inline-flex;
    align-items: center;
    gap:15px ;
    color: var(--jasmine);
}
footer .footer-up{
    padding: 40px 0;
}
footer .footer-up .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
    color: var(--white);
}
@media (min-width:992px) {
    footer .footer-up .container .info{
        width: 30%;
    }
    footer .footer-up .container .links-list{
        width: 40%;
    }
}
@media (max-width:992px) {
    footer .footer-up .container{
        justify-content: center;
    }
}
footer .footer-up .container .info p{
    margin-top: 40px;
    line-height: 200%;
    font-weight: 700;
}
footer .footer-up .container .links-list{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
footer .footer-up .container .links-list .links h3{
    color: var(--jasmine);
    margin-bottom: 30px;
}
footer .footer-up .container .links-list .links ul li a{
    display: block;
    margin-bottom: 20px;
    color: var(--white);
}